.volume-control {
  position: relative;
  display: inline-block;
  padding-top: 5px;
}

.volume-button {
  background: none;
  border: none;
  cursor: pointer;
}

.volume-input-container {
  display: flex;
  position: absolute;
  height: 30px;
  width: 150px;
  bottom: calc(100% + 75px);
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  border-radius: 4px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%) rotate(-90deg);
  padding: 10px;
}

.volume-control:hover .volume-input-container {
  opacity: 1;
  visibility: visible;
}

.volume-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
}

.volume-input::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #0079ca 0%, #0079ca var(--volume), #ccc var(--volume), #ccc 100%);
}

.volume-input::-moz-range-track {
  background: linear-gradient(to right, #0079ca 0%, #0079ca var(--volume), #ccc var(--volume), #ccc 100%);
}

