.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  bottom: calc(100% + 10px); 
  left: -15px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}